.timeline-chart {
    width: 90%;
    background: white;
    opacity: 0.9;
    border-radius: 5px;
    border: 1px solid #B9B9B9;

    .axis path {
        fill: none;
        stroke: none;
    }
    line {
        stroke: #B9B9B9;
    }
    .vertical-marker {
        stroke-width: 1;
    }
    line.vertical-marker.now {
        stroke: #c00;
    }
    rect, rect.chart-bounds {
        fill: transparent;
    }
    rect.chart-bounds, rect.interval {
        &:hover {
            cursor: grab;
        }
        &:active {
            cursor: grabbing;
        }
    }
    .dot:hover {
        cursor: pointer;
    }
    .interval-text {
        pointer-events: none;
    }
    rect.interval {
        ry: 5;
        rx: 5;
        fill: black;
        stroke: white;
    }
}

.d3-tip {
    background: white;
    color: black;
}